###
# Requirements used by specific scanners.

# seo
builtwith>=1.3.4

# pshtt
#
# Newer versions of pshtt will support sslyze>=3, which we are not yet
# ready to support.
pshtt==0.6.10

# trustymail
trustymail>=0.8.1

# sslyze
sslyze>=2.1.3,<3.0

# a11y / csp
pyyaml

# uswds2
lxml

# pagedata
ijson

# DAP & seo
beautifulsoup4

# headless
publicsuffixlist[update]
strict_rfc3339
